<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FINDMUSIC</title>
    <link rel="stylesheet" href="../static/index.css" />

</head>
<body>

<div class="header">
{#    <form action="http://35.222.58.19:5000/search" method="post">#}
    <form action="http://127.0.0.1:5000/search" method="post">
        <h1>FIND MUSIC</h1>
        <div class="form-box">
            <input type="text" class="search-input" name="keyword" id="query" required="required" placeholder="songs, artists, albums, lyrics">
            <button class="search-btn" type="submit" >Search</button>
        </div>
    </form>
</div>


</body>
</html>